<h3>Cohorts</h3>




<%= link_to 'Log Out', logout_path, method: :delete, class: "waves-effect waves-light btn-small center-align"%>

<%= link_to 'Back', user_path, class: "waves-effect waves-light btn-small center-align"%>

<%= link_to 'Add New', new_cohort_path, class: "waves-effect waves-light btn-small center-align"%>

<% @cohorts.each do |cohort| %>
    <p><%=cohort.id%></p>
   <p><%=cohort.name%></p>
   <p><%=cohort.start_date%></p>
   <p><%=cohort.end_date%></p>
   
    <%end%>