<h3>Make a new Instructor</h3>


<div class ="row" id ="form_new">
    <%= form_for @teacher, :html => {:class =>"col s5"} do |f| %>
        <div class="row">
            <div class="input-field col s12">
                    
                <%=f.text_field :first_name, html: {class: "validate", id: "name", type: "text"}%>
                <label for="first_name">First Name</label>
                
            </div>
            <br>
            <div class="input-field col s12">
                    
                <%=f.text_field :last_name, html: {class: "validate", id: "start_date", type: "text"}%>
                <label for="first_name">Last Name</label>
                
            </div>
            <br>
            <div class="input-field col s12">
                
                <%=f.text_field :email, html: {class: "validate", id: "end_date", type: "email"}%>
                <label for="email">Email</label>
                
            </div>
            <br>
            <div class="input-field col s12">
                
            <%=f.text_field :phone, html: {class: "validate", id: "end_date", type: "email"}%>
            <label for="email">Phone</label>
            
        </div>
        <br>
        <div class="input-field col s12">
                
        <%=f.text_field :education, html: {class: "validate", id: "end_date", type: "email"}%>
        <label for="email">Education</label>
        
        </div>
        <br>
        <div class="input-field col s12">
                
        <%=f.text_field :age, html: {class: "validate", id: "end_date", type: "email"}%>
        <label for="email">Age</label>
        
        </div>
        <br>
        </div>
       <center> <a class="waves-effect waves-light btn-large">
        <%=f.submit 'Create Instuctor'%>
        </a>
        </center>
        
    <%end%>
</div>